<div class="jumbotron">
  <img src="<%= @banner.img %>" class="" width="100%">
  <h1><%= @banner.title %></h1>
  <p class="lead"><%= @banner.content %></p>
  <span class="star-rating">
    <% 1.upto(5) do |i| %>
      <% if i == @banner.avg.round(0) %>
        <i class="on"></i>
      <% else %>
        <i></i>
      <% end %>
    <% end %>
  </span>
  <p id="count"><%= @banner.avg.round(1) %> 점 (<%= @banner.comments.count%> 명)</p>
  <p><a class="btn btn-lg btn-success" href="/post/show/<%= @banner.id %>" role="button">자세히보기</a></p>
</div>

<div class="row marketing">
  <% @posts.each do |a| %>
    <div class="col-lg-6">
      <h4><%= a.title %></h4>
      <img src="<%= a.img %>" width="320" height="320">
      <p><%= a.content %></p>
      <span class="star-rating small">
        <% 1.upto(5) do |i| %>
          <% if i == a.avg.round(0) %>
            <i class="on"></i>
          <% else %>
            <i></i>
          <% end %>
        <% end %>
      </span>
      <p id="count"><%= a.avg.round(1) %> 점 (<%= a.comments.count%> 명)</p>
      <p><a class="btn btn-sm btn-success" href="/post/show/<%= a.id %>" role="button">자세히보기</a></p>
    </div>
  <% end %>
</div>
